.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.future {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dcdada;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 -16px;
}

.day-forecast {
  text-align: center;
  flex-grow: 1;
}

.day {
  font-size: 1.25em;
}

.temp {
  text-align: center;
}

.temp-high {
  display: inline-block;
}

.temp-low {
  display: inline-block;
  color: #888;
}

.location-container {
}

.location-container div {
  color: #34495e;
}

.location {
  font-size: 1.75em;
}

.date {
  font-size: 1.25em;
}

.description {
  font-size: 1.25em;
}

.current-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.visual {
  display: flex;
  font-size: 4em;
  flex-grow: 1;
}

.scale {
  font-size: 0.5em;
  vertical-align: super;
}

.description-container {
  flex-grow: 1;
  font-size: 1.25em;
}

.description-container .label {
  color: #888;
  min-width: 80px;
  display: inline-block;
}

.description-container .value {
  color: #444;
}

.delete {
  position: absolute;
  border: none;
  background: none;
  top: 10px;
  right: 10px;
  font-size: 1.25em;
  color: #888;
  cursor: pointer;
  outline: none;
}

@media (max-width: 450px) {
  .day, .date, .description {
    font-size: 0.9em;
  }
  .visual {
    font-size: 2.8em;
  }

  .description-container {
    font-size: 0.9em;
  }

  .description-container .label {
    min-width: 57px;
  }
}